{% extends "layout.html" %}
{% load form %}
{% load icons %}

{% block content %}
<article id="account">
  <section>
    <h3>Account Info</h3>
    <form class="pure-form pure-form-stacked" action="{% url 'account' %}" method="POST">
      {% csrf_token %}
      {{ edit_account_form }}
      <input type="submit" value="Save" />
    </form>
  </section>
  <section>
    <h3>Change Password</h3>
    <form class="pure-form pure-form-stacked" action="{% url 'account' %}" method="POST">
      {% csrf_token %}
      <input type="hidden" name="password_form" value="1" />
      {{ change_password_form }}
      <input type="submit" value="Save" />
    </form>
  </section>
  <section>
    <h3>Alert Schedule</h3>
    <form class="pure-form" action="{% url 'save-alert-settings' %}" method="POST" id="alert-settings-form">
      {% csrf_token %}
      {% alert_setting_row 0 email 0 disabled %}
      <div id="add-alert-row">
        {% evil_icon ei-plus %}
      </div>
      <input type="submit" value="Save" />
    </form>
  </section>
</article>
{% endblock %}

{% block endjs %}
{{ block.super}}
{% load bundles %}
{% script js/account.min.js %}
{% endblock %}
