{% extends "layout.html" %}
{% load form %}
{% load icons %}

{% block content %}
<article id="account">
  <section id="account-info">
    {% include "partials/account/account-info.html" %}
  </section>
  <section id="change-password">
    {% include "partials/account/change-password.html" %}
  </section>
  <section id="alert-schedule">
    {% include "partials/account/alert-schedule.html" %}
  </section>
</article>
{% endblock %}

{% block endjs %}
{{ block.super}}
{% load bundles %}
{% script js/account.min.js %}
{% endblock %}
