{% extends "layout.html" %}
{% block content %}
<article id="dashboard" class="pure-g">
  <section class="pure-u-1 pure-u-md-3-5">
    <h3>Alert Timeseries</h3>
    <canvas id="events_timeseries" class="graph"></canvas>
  </section>
  <section class="pure-u-1-2 pure-u-md-1-5">
    <h3 class="centered">Alert Status</h3>
    <canvas id="alert_count" class="graph"
            data-resolved-count="{{statuses.resolved}}"
            data-ack-count="{{statuses.acknowledged}}"
            data-open-count="{{statuses.open}}"></canvas>
  </section>
  <section class="pure-u-1-2 pure-u-md-1-5">
    <h3 class="centered">Messages Sent</h3>
    <canvas id="alerts_doughnut" class="graph"></canvas>
  </section>
  <section class="pure-u-1">
    <h3>Recent Events</h3>
    <table id="events_table" class="pure-table pure-table-horizontal">
      <thead>
        <tr>
          <th>Event</th>
          <th>User</th>
          <th>Date</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {% for alert in alerts %}
        <tr class="{{ alert.status }}">
          <td>
            <a href="{% url 'alert-view' alert.id %}">
              {{ alert.title }}
            </a>
          </td>
          <td>
            {{ alert.last_updater }}
          </td>
          <td>
            {{ alert.date_updated }}
          </td>
          <td>
            {{ alert.status }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
</article>
{% endblock %}

{% block endjs %}
{{ block.super}}
{% load bundles %}
<script type="text/javascript">
  var timeseries = {{ timeseries|safe }};
</script>
{% script js/dashboard.min.js %}
{% endblock %}
