{% extends "layout.html" %}
{% block content %}
<article id="dashboard" class="pure-g">
  <section class="pure-u-1 pure-u-md-3-5">
    <h3>Events Timeseries</h3>
    <canvas id="events_timeseries" class="graph"></canvas>
  </section>
  <section class="pure-u-1-2 pure-u-md-1-5">
    <h3 class="centered">Alert Status</h3>
    <canvas id="events_doughnut" class="graph"></canvas>
  </section>
  <section class="pure-u-1-2 pure-u-md-1-5">
    <h3 class="centered">Messages Sent</h3>
    <canvas id="alerts_doughnut" class="graph"></canvas>
  </section>
  <section class="pure-u-1">
    <h3>Recent Events</h3>
    <table id="events_table" class="pure-table pure-table-horizontal">
      <thead>
        <tr>
          <th>Event</th>
          <th>User</th>
          <th>Date</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {% for event in events %}
        <tr class="{{ event.status }}">
          <td>
            {{ event.title }}
          </td>
          <td>
            {% if event.created_by_user %}
            {{ event.created_by_user.get_short_name }}
            {% else %}
            {{ event.create_by_api_key.get_name }}
            {% endif %}
          </td>
          <td>
            {{ event.date_updated }}
          </td>
          <td>
            {{ event.status }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
</article>
{% endblock %}

{% block endjs %}
{{ block.super}}
{% load bundles %}
{% script js/dashboard.min.js %}
{% endblock %}
