<!DOCTYPE html>
<html lang="en">
  <head>
    {% load bundles %}
    {% block meta %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    {% endblock %}

    {% load title %}
    {% block title %}
    {{ title|title|safe }}
    {% endblock %}

    {% block css %}
    {% stylesheet css/core.min.css %}
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="/static/css/pure//grids-responsive-old-ie-min.css" />
        <![endif]-->
    {% endblock %}

    {% block headjs %}
    {% endblock %}
  </head>
  <body>
    {% block body %}
    {% block icons %}
    {% load icons %}
    {% evil_icons %}
    {% endblock %}
    <div id="wrapper" class="pure-g">
      {% block header %}
      <div id="header" class="pure-u-1">
        {% include "partials/header.html" %}
      </div>
      {% endblock %}
      {% block menu %}
      <div id="menu" class="pure-u-2-24">
        {% include "partials/menu.html" %}
      </div>
      {% endblock %}
      <div id="content-wrapper" class="pure-u-22-24">
        <div id="content">
          {% block content %}
          {% endblock %}
        </div>
      </div>
      <div id="footer" class="pure-u-1">
        {% block footer %}
        {% endblock %}
      </div>
    </div>
    {% endblock %}
    {% block endjs %}

    {% endblock %}
  </body>
</html>
