<!DOCTYPE html>
<html lang="en">
  <head>
    {% load bundles %}
    {% load compress %}
    {% block meta %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    {% endblock %}

    {% load title %}
    {% block title %}
    {{ title|title|safe }}
    {% endblock %}

    {% block css %}
    <link href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="//yui.yahooapis.com/combo?pure/0.5.0/base-min.css&pure/0.5.0/grids-min.css&pure/0.5.0/forms-min.css">
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="//yui.yahooapis.com/pure/0.5.0/grids-responsive-old-ie-min.css">
        <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="//yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
        <!--<![endif]-->
    {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="/static/css/main.scss" />
    {% endcompress %}
    {% endblock %}

  </head>
  <body>
    {% block body %}
    {% block icons %}
    {% load icons %}
    {% evil_icons %}
    {% endblock %}
    <div id="wrapper" class="pure-g">
      {% block header %}
      <div id="header" class="pure-u-1">
        {% include "partials/header.html" %}
      </div>
      {% endblock %}
      {% block menu %}
      <div id="menu" class="pure-u-1 pure-u-sm-2-24">
        {% include "partials/menu.html" %}
      </div>
      {% endblock %}
      <div id="content-wrapper" class="pure-u-1 {% block cw-sm-width %}pure-u-sm-22-24{% endblock %}">
        <div id="messages">
          {% include "partials/messages.html" %}
        </div>
        <div id="content">
          {% block content %}
          {% endblock %}
        </div>
      </div>
      <div id="footer" class="pure-u-1">
        {% block footer %}
        {% endblock %}
      </div>
    </div>
    {% endblock %}
    {% block endjs %}
    {% script js/core.min.js %}
    {% endblock %}
  </body>
</html>
