{% extends "layout.html" %}
{% load gravatar %}
{% load schedule %}
{% block content %}
<article id="schedule">
  <section>
    <h3> On-Call Now: <span class="on-call-now">{{ oncall.email }}</span> </h3>
  </section>
  <section>
    <h3>Active Schedule: <span class="active-schedule-name">{{ schedule.name }}</span></h3>
    <a class="pure-button button-secondary" href="{% url 'edit-schedule' %}">
      Edit Schedule
    </a>
    <a class="pure-button button-secondary" target="_blank" href="{% url 'team-calendar' %}">
      Download iCal
    </a>
    {{ schedule|schedule_calendar|safe }}
  </section>
</article>
{% endblock %}
