body {
    background-color: rgb(225, 225, 225);
    font-family: 'Lato', sans-serif;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: 'Lato', sans-serif;
}

.icon {
    width: 2rem;
    fill: rgb(225, 225, 225);
}

.icon:hover {
    fill: rgb(0, 102, 102);
}

a:hover {
    color: rgb(0, 102, 102);
}

a {
    text-decoration: none;
}

#content-wrapper {
    min-height: 80vh;
}

#content {
    margin-left: 1rem;
}

#content h1 {
    text-transform: uppercase;
}

#footer {
    max-height: 30vh;
}
