body {
    font-family: 'Lato', sans-serif;
    background-color: rgb(34, 34, 34);
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: 'Lato', sans-serif;
}

.icon {
    width: 2rem;
    fill: rgb(238, 238, 238);
}

.icon:hover {
    fill: rgb(0, 102, 102);
}

a:hover {
    color: rgb(0, 102, 102);
}

a {
    text-decoration: none;
    color: rgb(34, 34, 34);
}

#content-wrapper {
    min-height: 80vh;
    background-color: rgb(238, 238, 238);
}

#content {
    margin-left: .5rem;
}

#content h1 {
    text-transform: uppercase;
}

#footer {
    max-height: 30vh;
}

img.avatar {
    width: 2rem;
    height: 2rem;
    border-radius: .3rem;
}

#select-team a.create-team {
    margin-top: 2rem;
}

.centered {
    text-align: center;
}

/** MEDIUM **/
@media screen and (min-width: 48em) {
    #content {
        margin-left: 1rem;
    }
}
