#login, #register {
    display: none;
}

#login.selected, #register.selected {
    display: block;
}

#login label, #register label {
    display: none
}

select[name="alert_type"] {
    margin: 0 .5rem 0 0;
}

input[name="alert_time"] {
    width: 3rem;
    margin: 0 .5rem 0 .5rem;
}

@media only screen and (max-width : 480px) {
    #alert-settings-form input {
        display: inline-block;
    }
}
