#schedule .on-call-now {
    font-weight: 300;
}

#schedule .oncall {
    background-color: rgba(160, 250, 160, .3);
}

#schedule .free {
    background-color: rgba(250, 160, 160, .3);
}

#schedule .standby {
    background-color: rgba(255, 255, 150, .3);
}

#schedule .schedule-calendar-day {
    height: 6rem;
    position: relative;
    border-right: solid 1px rgb(34, 34, 34);
}

#schedule .schedule-calendar-day:first-child {
    border-left: solid 1px rgb(34, 34, 34);
}

#schedule .schedule-calendar-week:last-child .schedule-calendar-day {
    border-bottom: solid 1px rgb(34, 34, 34);
}

#schedule .schedule-calendar-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(168, 168, 168, .5);
}

#schedule .schedule-calendar-date{
    background-color: rgb(34, 34, 34);
    color: rgb(238, 238, 238);
}

#schedule .schedule-calendar-data .avatar {
    width: .75rem;
    height: .75rem;
    display: inline;
    border-radius: .25rem;
}

#schedule .schedule-calendar-data .name {
    display: inline;
    font-size: .5rem;
}

/** SMALL **/
@media screen and (min-width: 35.5em) {
    #schedule .schedule-calendar-data .avatar {
        width: 1.5rem;
        height: 1.5rem;
    }
    #schedule .schedule-calendar-data .name {
        font-size: .75rem;
    }

}
