@import "./colors";

.pure-button {
    padding: .5em;
    border-radius: .2em;
}

.button-secondary {
    background: $secondary-red;
    color: $white;
}

.button-secondary:hover {
    color: $black;
}
