#header {
    max-height: 4rem;
    padding-left: 1em;
}

#header, #header a {
    color: rgb(238, 238, 238);
}

#header #logo h1 {
    margin: .3rem;
    padding: 0;
    font-size: 2rem;
}

#header #account {
    float: right;
    padding-right: 1rem;
}

#header #account .avatar {
    margin-top: .5rem;
}

#header #account .team-name {
    padding: .25rem;
}
