@import "./colors";

#menu .icon {
    width: 2rem;
    fill: $white;
}

#menu .icon:hover {
    fill: $primary-red;
}

#menu, #menu nav, #menu ul, #menu .menu-label {
    padding: 0;
    margin: 0;
    color: $white;
    font-size: 1vw;
    font-weight: 100;
    text-align: center;
}

#menu ul li {
    display: inline;
}

#menu ul {
    margin: 0 auto;
    /*width: 2rem;*/
}

.menu-label {
    display: none;
}

/** SMALL **/
@media screen and (min-width: 35.5em) {
    #menu {
        min-height: 95vh;
        height: 100%;
    }

    #menu .icon, #menu ul {
        width: 3rem;
    }
}


/** MEDIUM **/
@media screen and (min-width: 48em) {
    #menu .icon, #menu ul {
        width: 4rem;
    }

    .menu-label {
        display: inline;
    }
}
