{% extends 'layout.html' %}

{% block menu %}
{% endblock %}
{% block cw-sm-width %}
{% endblock %}


{% block content %}
<article class="pure-u-1">
  <ul class="tabs">
    <li class="login {% if login %} selected {% endif %}">
      Login
    </li>
    <li class="register {% if register %} selected {% endif %}">
      Register
    </li>
  </ul>

  <section id="login" class="pure-u-1 {% if login %} selected {% endif %}">
    {% include "auth/login-form.html" %}
  </section>
  <section id="register" class="pure-u-1 {% if register %} selected {% endif %}">
    {% include "auth/register-form.html" %}
  </section>
</article>
{% endblock %}

{% block endjs %}
{{ block.super }}
<script type="text/javascript">
  var tabs = document.querySelector('.tabs');
  tabs.addEventListener('click', function(e){
  if(e.target.matches('li.register')){
    document.querySelector('#register').className = 'pure-u-1 selected';
    document.querySelector('#login').className = 'pure-u-1';
    e.target.className += ' selected';
    document.querySelector('li.login').className = 'login';
  } else if(e.target.matches('li.login')){
    document.querySelector('#login').className = 'pure-u-1 selected';
    document.querySelector('#register').className = 'pure-u-1';
    e.target.className += ' selected';
    document.querySelector('li.register').className = 'register';
  }
  });
</script>
{% endblock %}
